@page
@model soft20181_starter.Pages.DetailModel
@{
}

<section class="event-details">
    <div class="event-detail">
        <img src="./Images/event1.jpg" alt="Event 1" />
        <h2>Innovation Expo 2023: Unleashing Creative Potential</h2>
        <p>Location: Manchester United Kingdom</p>
        <p>Date: December 17th 2023</p>
        <p>
            Event Description Tech Innovate Summit 2023 is a three-day event that
            brings together technology enthusiasts, innovators, and industry
            leaders from around the world. Explore the latest trends in
            technology, attend insightful keynote speeches, participate in
            hands-on workshops, and witness groundbreaking innovations at our
            Innovation Showcase. Speakers/Presenters - Speaker 1: - Name: Dr.Sarah
            Johnson - Bio: Leading AI Researcher, PhD in Computer Science - Topic:
            "Future of Artificial Intelligence" - Speaker 2: - Name:Mark Davis -
            Bio: Tech Entrepreneur, Founder of InnovateTech Inc. - Topic:
            "Disruptive Technologies: Shaping the Digital Future" -
        </p>
    </div>
</section>
<div class="close">
    <span>
        <a class="register-button" href="Events">Register</a>
    </span>
    <span>
        <a class="close-button" href="Events">Close</a>
    </span>
</div>