@page
@model soft20181_starter.Pages.EventsModel
@{
}

<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fa fa-search"></i>
    </span>
</div>

<section class="event-listing">
    <a class="remove-highlight" asp-page="/Detail">
        <div class="event">
            <img src="./Images/event1.jpg" alt="Event 1" />
            <div>
                <h2>Innovation Expo 2023: Unleashing Creative Potential</h2>
                <p>Location: Manchester United Kingdom</p>
                <p>Date: December 17th 2023</p>
            </div>
        </div>
    </a>
</section>

<section class="event-listing">
    <a class="remove-highlight" asp-page="Detail">
        <div class="event">
            <img src="./Images/event2.jpg" alt="Event 2" />
            <div>
                <h2>Tech Innovative Summit 2023</h2>
                <p>Location: London United Kingdom</p>
                <p>Date: December 22nd 2023</p>
            </div>
        </div>
    </a>
</section>