@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Our Events";
    // ViewData["Title"] = "Home page";
}

<main>
    <section id="websiteBody">
        <h2 class="text-center">@ViewData["Title"]</h2>

        <!-- Add more events as needed -->
        <div class="intro-img"></div>

        <article>
            <h2>About Us</h2>
            <p>
                We at SJX believe that innovation and ongoing education are powerful
                forces. Enter a universe where knowledge has no boundaries and
                creativity and technology coexist. SJX is the place to go if you're
                a tech enthusiast, aspiring entrepreneur, or just interested in
                learning about the newest developments in a variety of industries.
                Discover a carefully chosen selection of programmes, workshops, and
                interactive sessions created to spark your interest, broaden your
                horizons, and help you connect with like-minded people. SJX is your
                go-to venue for engaging events, offering anything from
                thought-provoking keynote talks by leading industry figures to
                practical seminars that hone your abilities. Come be a part of our
                dynamic community where creativity is unrestricted, partnerships
                flourish, and ideas blossom. Visit SJX to be inspired, educated, and
                to start a path of limitless opportunities. Come, dive into the
                future with us. Welcome to SJX Where Innovation Meets Opportunity!
            </p>
        </article>
    </section>
</main>