@page
@model soft20181_starter.Pages.Students.IndexModel
@{
}

<h1>List of students</h1>

@foreach (var student in Model.StudentList)
{
	<li>
		@student.NNumber 
		@student.Name

		@* <a href="/Students/Edit/@student.Id">Edit</a> *@

		@* Using tag helpers *@
		<a class="btn btn-primary" asp-page="Edit" asp-route-id="@student.Id">Edit</a>
		<a class="btn btn-danger" asp-page="Edit" asp-route-id="@student.Id" asp-page-handler="Delete">Delete</a>
	</li>
}