@page
@model soft20181_starter.Pages.Students.StudentsModel
@{
}

<h1>Students</h1>

<div class="row">
	<div>
		<form method="post">
			@* From "https://getbootstrap.com/docs/5.0/forms/form-control/" *@
			<div class="mb-3">
				<input type="text" class="form-control" asp-for="@Model.TheStudent.NNumber">
			</div>
			<div class="mb-3">
				<input type="text" class="form-control" asp-for="@Model.TheStudent.Name">
			</div>

			<button type="submit">Save</button>
		</form>
	</div>

	@foreach(var student in Model.StudentList)
	{
		<li>@student.NNumber - @student.Name</li>
	}
</div>
